<div class="container">

      <form class="form-signin" ng-submit="userLocalLogin()">
        <h2 class="form-signin-heading">Peekus login</h2>
        <br>
        <div class="alert alert-danger" role="alert" ng-show="wrongEmail">
          <strong>Oups!</strong> No email found
        </div>
        <div class="alert alert-danger" role="alert" ng-show="wrongPassword">
          <strong>Oups!</strong> Wrong password
        </div>
        <div class="alert alert-success" role="alert" ng-show="successSignUp">
          <strong>Congrats!</strong> You have successfully sign up to Peekus! Now please, log in!
        </div>
        <label>Email address</label>
        <input type="text" ng-model="credentials.email" class="form-control" placeholder="Email address" required autofocus>
        <br>
        <label>Password</label>
        <input type="password" ng-model="credentials.password" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-success btn-lg btn-block" type="submit">Log in</button>
        <br>
        <div class="row">
          <div class="col-md-6">
           <button ng-href="/auth/facebook" class="btn btn-primary btn-block"><span class="fa fa-facebook"></span> Login Facebook</button>
          </div>
          <div class="col-md-6">
            <button ng-href="/auth/facebook" class="btn btn-danger btn-block"><span class="fa fa-google-plus"></span> Login Google</button>
          </div>
        </div>
        <br><br>

        <p>Don't have an account? <a role="button" ng-click="openSignUpModal()">Please sign up</a></p>
      </form>
      
      
</div> 